
<html>
        <head>
        <title>My Now Amazing Webpage</title>
            <link rel="stylesheet" type="text/css" href="cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
            <!-- <link rel="stylesheet" type="text/css" href="/Central-West-End-Toastmasters/src/static/styles/slick-theme.css"/> -->
        </head>
        <body>
      
        <div class="fade">
            <img class="logo" src="/Central-West-End-Toastmasters/src/static/images/bee-logo.png">
            <img class="logo" src="/Central-West-End-Toastmasters/src/static/images/hero-inside.jpg">
            <div>your content</div>
        </div>
      
        <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"
        integrity="sha256-ycJeXbll9m7dHKeaPbXBkZH8BuP99SmPm/8q5O+SbBc="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      
        <script type="text/javascript">
            $('.fade').slick();
        </script>
      
        </body>
      </html>