<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="/Central-West-End-Toastmasters/src/static/styles/centered-flexbox.css">

<div class='column-flex'>
        Chartered in 1975, San Francisco Toastmasters is a club rich with tradition and members are unified by a common mission: to enrich our lives and the lives of others through our three values: communication, leadership & community.
        Skill levels vary from practiced & confident speakers to those of a novice level, ready to conquer fears of public speaking.  We thrive on a mutually supportive (and fun!) environment, which encourages improvement and grants opportunities we provide for prepared speeches, impromptu speaking and constructive evaluations.  It's no surprise that SFTM is one of the largest and most popular clubs in the city.
</div>
