<link href="/static/styles/main.css" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/flexboxnav.css" rel="stylesheet">

<div class="header">
        <div class="main-nav row  center-xs middle-md">
            <div class="col-xs-12 col-md-3"><a href="/static/templates/index.html"><img class="logo" src="/static/images/Blue_Logo_CWE.png" alt=""></a>
            </div>
            <ul class="col-xs-12">
                <li><a href="about.html">About</a></li>
                <li><a href="why.html">Why Toastmasters</a></li>
                <li><a href="members.html">Meet Our Members</a></li>
                <li class="Visiting"><a href="visit.html">Visiting</a></li>
            </ul>
        </div>
    </div>