{% extends "base-header.html" %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <div class="welcome-banner">
        <h2>Welcome to Central West End Toastmasters</h2>
        <i class="sub-header">Where Leaders Are Made</i>
        <p> </p> <!-- Empty Space -->
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/background.css') }}"> -->
    </div>

    <!-- Background Photo -->
    <div>
        <img class="club-background" src="{{ url_for('static',filename='images/carousel_1.jpg') }}">
        <!-- NOTE: Including the carousel-test.html inherits the bootstrap.min.css which breaks navbar styles  -->
    </div>

    <div class="body-content">
        <p>
            Central West End Toastmasters is a nonprofit educational organization that operates in 4240 Duncan Avenue for the purpose
            of promoting communication.
        </p>

        <p>We&rsquo;re a diverse group of individuals who come together to improve at public speaking, leadership, and communication skills. Through weekly meetings we work on speaking goals, building leadership skills, and continually reflecting on what makes us better people.</p>
        <p>Our members come from all backgrounds and walks from life. Among our ranks you&rsquo;ll find accountants, lawyers, cooks, engineers, and entrepreneurs. We welcome everyone and find our diverse club background improves the atmosphere for everyone.</p>

        <!-- <div class='about-page-wrapper'>
            <div class='row-flex'>
                <div class='column-flex'>
                <div class='blue-column-flex'>
                    Chartered in 1975, San Francisco Toastmasters is a club rich with tradition and members are unified by a common mission: to enrich our lives and the lives of others through our three values: communication, leadership & community.
                    Skill levels vary from practiced & confident speakers to those of a novice level, ready to conquer fears of public speaking.  We thrive on a mutually supportive (and fun!) environment, which encourages improvement and grants opportunities we provide for prepared speeches, impromptu speaking and constructive evaluations.  It's no surprise that SFTM is one of the largest and most popular clubs in the city.
                </div>
                </div>
                <div class='column-flex'>
                </div>
            </div>
            </div> -->
    </div>
</body>

{% endblock %}
