<link href="/Central-West-End-Toastmasters/src/static/styles/untitled-5.css">

<head>
    <link rel="stylesheet" type="text/css" href="/Central-West-End-Toastmasters/src/static/styles/untitled-5.css">
</head>

<div class="sandbox sandbox-correct-pronounciation">
    <h1 class="heading heading-correct-pronounciation">
        The
        <em>Correct</em>
        Pronunciation
    </h1>
    <h1 class="heading heading-correct-pronounciation">
            Testing testing testing
            Welcome to Central West End Toastmasters!

            We’re a diverse group of individuals who come together to improve at public speaking, leadership, and communication skills. Through weekly meetings we work on speaking goals, building leadership skills, and continually reflecting on what makes us better people.
            
            Our members come from all backgrounds and walks from life. Among our ranks you’ll find accountants, lawyers, cooks, engineers, and entrepreneurs. We welcome everyone and find our diverse club background improves the atmosphere for everyone.
            
    </h1 class="heading">
</div>