{% extends "base-header.html" %}
{% block content %}

<h1 style="color:black;text-align:center;margin:20px auto">Visiting</h1>

<p style="text-align:center;">We're located on 4240 Duncan Avenue, St. Louis MO 63110</p>

<p align="center">
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAZApkBQ9bjYqXUuOqsFoUoVfWrPjM2t_Y
      &q=4240+Duncan+Ave,+St.+Louis,+MO+63110" allowfullscreen>
  </iframe>
</p>

{% endblock %}
