{% extends "base-header.html" %} 
{% block content %}

<h1 style="color:black;text-align:center;margin:20px auto">Why Toastmasters</h1>
<!-- <link href="/Central-West-End-Toastmasters/src/static/styles/background.css" rel="stylesheet"> -->

<!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/background.css') }}">
<body></body> -->

<link href="/static/styles/bootstrap-test.css" rel="stylesheet">
<div class='about-page-wrapper'>
  <div class='row-flex'>
    <div class='column-flex double-column-flex'>
      <div class='blue-column-flex'>
        Chartered in 2016, Central West End Toastmasters is a club rich with tradition and members are unified by a common mission:
        to enrich our lives and the lives of others through our three values: communication, leadership & community. Skill
        levels vary from practiced & confident speakers to those of a novice level, ready to conquer fears of public speaking.
        We thrive on a mutually supportive (and fun!) environment, which encourages improvement and grants opportunities
        we provide for prepared speeches, impromptu speaking and constructive evaluations. It's no surprise that SFTM is
        one of the largest and most popular clubs in the city.
      </div>
    </div>
    <div class='column-flex'>
      <div class='green-column-flex'>
        <h2>Benefits</h2>
        <p> Improve public speaking skills </p>
        <p> Improve leadership skills </p>
        <p> Gain mastery of speech </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}